body{
    font-family: "Avenir Next";
}
.header-list li{
    list-style: none;
    float:left;
    padding:33px 20px;
}

/* list-style:noneでリストの黒点消去 */
/* floatleftで横並び */
.header {
    background-color: #f7f2b4;
    height: 90px;
  }
  
  .main {
    background-color: #bdf7f1;
    height: 600px;
  }
  
  .footer {
    background-color: #ceccf3;
    color:#fff;
    padding: 40px 40px;
    height: 270px;
  }
.header-logo{
  float:left;
  font-size:36px;
  padding:20px 40px;

}
/* paddingで余白 */

.footer-list{
  float:right;
}

.footer-logo{
  font-size: 32px;
  float:left;
}

.footer-list li{
  padding-bottom: 20px;
}

.main{
  padding: 100px 80px;
}
.copy-container h1{
  font-size: 140px;
}
.copy-container h2{
  font-size: 60px;
}
.copy-container span{
  color: #ff4a4a;
}
.contents{
  height: 500px;
  margin-top: 100px
}
/* marginで外側に余白　padingは内側 */
.section-title{
  border-bottom: 2px solid #dee7ec;
  font-size: 28px;
  padding-bottom: 15px;
  margin-bottom: 50px;
}
.contents-item{
  float: left;
  margin-right: 40px;
}
.contents-item p{
  font-size: 24px;
  margin-top: 30px;
}
.contact-form{
  padding-top: 100px;
}
input, textarea{
  width: 400px;
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 20px;
  font-size: 18px;
  border: 1px solid #dee7ec;
}
.contact-submit{
  background-color: #dee7ec;
  color: #889eab;
}
